<?xml version="1.0" ?> 
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.5" 
"http://jpf.sourceforge.net/plugin_0_5.dtd"> 
<plugin id="com.isti.xmax.filter.lowpass" version="1.2.0"> 
	<classpath>
		<include name="log4j-1.2.17.jar"/>
		<include name="slf4j-log4j12-1.7.7.jar"/>
		<inlcude name="slf4j-api-1.7.7.jar"/>
		<include name="apache-log4j-extras-1.2.17.jar"/>
	</classpath>
	<requires> 
		<import plugin-id="com.isti.xmax.core"/> 
	</requires> 
	<runtime> 
		<library id="lowpass" path="classes/" type="code"/> 
	</runtime> 
	<extension plugin-id="com.isti.xmax.core" point-id="Filter" id="LP"> 
		<parameter id="class" value="FilterLP"/>
		<parameter id="name" value="FilterLP"/> 
		<parameter id="description" value="Apply Low Pass filter for selected channels"/>  
	</extension> 
</plugin> 
